@import "defaults";

$font-chelsea : 'Chelsea';
$font-willow : 'Willow';
$font-title: $font-chelsea, sans-serif;
$font-text: $font-willow, serif;
$font-color: #000000;
$bullet-number-size: 1.15em;
$bullet-number-font-size: $bullet-number-size*0.75;
$bullet-number-offset: 0.25*$bullet-number-size;

