@import "defaults";

$font-alberttext : 'AlbertText';
@font-face {
	font-family: $font-alberttext;
	src: url("../SavageOfLegend/fonts/AlbertText-Bold.ttf") format('truetype');
}

$font-title: $font-alberttext, sans-serif;
$font-color: #000000;
$bullet-number-size: 1.15em;
$bullet-number-font-size: $bullet-number-size*0.75;
$bullet-number-offset: 0.25*$bullet-number-size;

